<div class="body-login">
    <div class="login">
        <div class="img-logo">
            <img class="logo" src="../../../../assets/img/logo.svg" alt="">
        </div>

        <div class="form">
            <input class="form-login" type="text" id="email" placeholder="E-mail">
            
            <input class="form-login" type="password" id="password" placeholder="Senha" >
            
            <div class="remember-password">
                <input type="checkbox" name="remember" id="remember" value="remember">
                <label for="remember" id="remember-texto">Lembrar minha senha</label>
            </div>

            <div class="btn-login">
                <button class="btn btn-signup">Criar Conta</button>
                <button class="btn btn-sign">Acessar</button>
            </div>
        </div>
    </div>
</div>
