<app-header></app-header>
<div class="body-list">
    <div class="list">
        <div class="list-header">
            <p class="title">Consulta Clínica</p>
            <button class="new-consultation">
                <img src="../../../../assets/icons/icon-plus.svg" alt="Fechar">
                Nova Consulta
            </button>
        </div>
        <div class="list-table">
            <table>
                <tr>
                    <th>ESPECIALIDADE</th>
                    <th>PROFISSIONAL</th>
                    <th>DATA</th>
                    <th>HORA</th>
                    <th></th>
                </tr>
        
                <tr class="table-items">
                    <td>Cardiologia</td>
                    <td>Dr. Caio Carlos Ferreira</td>
                    <td>01/01/2020</td>
                    <td>13:00</td>
                    <td>
                        <button class="button-uncheck">
                            <img src="../../../../assets/icons/icon-close.svg" alt="Fechar">
                            Desmarcar
                        </button>
                    </td>
                </tr>
                <tr class="table-items">
                    <td>Cardiologia</td>
                    <td>Dr. Caio Carlos Ferreira</td>
                    <td>01/01/2020</td>
                    <td>13:00</td>
                    <td>
                        <button class="button-uncheck">
                            <img src="../../../../assets/icons/icon-close.svg" alt="Fechar">
                            Desmarcar
                        </button>
                    </td>
                </tr>
                <tr class="table-items">
                    <td>Cardiologia</td>
                    <td>Dr. Caio Carlos Ferreira</td>
                    <td>01/01/2020</td>
                    <td>13:00</td>
                    <td>
                        <button class="button-uncheck">
                            <img src="../../../../assets/icons/icon-close.svg" alt="Fechar">
                            Desmarcar
                        </button>
                    </td>
                </tr>
                <tr class="table-items">
                    <td>Cardiologia</td>
                    <td>Dr. Caio Carlos Ferreira</td>
                    <td>01/01/2020</td>
                    <td>13:00</td>
                    <td>
                        <button class="button-uncheck">
                            <img src="../../../../assets/icons/icon-close.svg" alt="Fechar">
                            Desmarcar
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
