<app-header></app-header>
<div class="body-list">
    <div class="list">
        <div class="list-header">
            <p class="title">Consulta Clínica</p>
            <button class="new-consultation">
                <img src="../../../../assets/icons/icon-plus.svg" alt="Fechar">
                Nova Consulta
            </button>
        </div>
        <div class="list-table">
            <table>
                <colgroup>
                    <col class="twenty" />
                    <col class="twenty" />
                    <col class="fifteen" />
                    <col class="ten" />
                    <col class="fifteen" />
                </colgroup>
                <tr>
                    <th>ESPECIALIDADE</th>
                    <th>PROFISSIONAL</th>
                    <th>DATA</th>
                    <th>HORA</th>
                    <th></th>
                </tr>
        
                <tr class="table-items" *ngFor="let c of consultations">
                    <td>{{ c.doctor.specialty.name }}</td>
                    <td>{{ c.doctor.name }}</td>
                    <td>{{ c.day |  date:'MM/dd/yyyy'}}</td>
                    <td>{{ c.hourly }}</td>
                    <td>
                        <button class="button-uncheck">
                            <img src="../../../../assets/icons/icon-close.svg" alt="Fechar">
                            Desmarcar
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
