<div class="body-register">
    <div class="register">
        <div class="img-logo">
            <img class="logo" src="../../../../assets/img/logo.svg" alt="">
        </div>

        <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <input 
                class="form-register" 
                type="text" id="first_name" 
                placeholder="Nome" 
                autocomplete="firstname" 
                formControlName="first_name"
            >
            
            <input 
                class="form-register" 
                type="text" id="email" 
                placeholder="E-mail" 
                autocomplete="email" 
                formControlName="email"
            >
            
            <input 
                class="form-register" 
                type="password" id="password1" 
                placeholder="Senha" 
                autocomplete="off" 
                formControlName="password1"
            >

            <input 
                class="form-register" 
                type="password" id="password2" 
                placeholder="Confirmar Senha" 
                autocomplete="off" 
                formControlName="password2"
            >
            
            <div class="btn-register">
                <button class="btn btn-cancel" type="submit" routerLink="/login">
                    Cancelar
                </button>
                <button class="btn btn-confirm" type="submit" [disabled]="!registerForm.valid">
                    Confirmar
                </button>
            </div>
        </form>
    </div>
</div>
