<div class="body-register">
    <div class="register">
        <div class="img-logo">
            <img class="logo" src="../../../../assets/img/logo.svg" alt="">
        </div>

        <div class="form">
            <input class="form-register" type="text" id="name" placeholder="Nome">
            <input class="form-register" type="text" id="email" placeholder="E-mail">
            
            
            <input class="form-register" type="password" id="password" placeholder="Senha" >
            <input class="form-register" type="password" id="confirm-password" placeholder="Confirmar Senha" >
            
            <div class="btn-register">
                <button class="btn btn-cancel">Cancelar</button>
                <button class="btn btn-confirm">Confirmar</button>
            </div>
        </div>
    </div>
</div>
